GDAL==3.4.1
GeoAlchemy2==0.17.0
geopandas==1.0.1
ipywidgets==8.1.5
matplotlib==3.10.0
nbformat==5.10.4
numpy==2.2.4
openpyxl==3.1.5
pandas==2.2.3
plotly==6.0.0
psycopg2-binary==2.9.10
python-dotenv==1.0.1
rasterio==1.4.3
rioxarray==0.18.2
sankeyflow==0.4.1
scipy==1.15.1
shapely==2.0.6
SQLAlchemy==2.0.37
tqdm==4.67.1
xarray==2025.1.2